<div class="row">
  <h2>Path optimization</h2>
  <div class="col-md-9">
    <div leaflet [leafletOptions]="mapOptions" [leafletLayers]="[markerLayer, pathLayers]" id="map" (leafletClick)="onMapClick($event)"></div>
  </div>
  <div class="col-md-3">
    <div>
      <h3>Settings</h3>
      <p>
        <label for="uavCount">Number of UAVs:</label>
        <input type="number" id="uavCount" [(ngModel)]="uavCount" name="uavCount" class="form-control">
      </p>
      <button (click)="optimizePath()" class="btn btn-primary">Optimize Path</button>
      <button (click)="clearMap()" class="btn btn-danger">Clear Map</button>
      <button (click)="goToSchedule()" class="btn btn-dark">Schedule</button>
    </div>
    <div *ngIf="response">
      <h3>Paths:</h3>
      <div *ngFor="let path of response.uavPaths">
        <div [ngStyle]="{'background-color': pathColors[path]}">
          <span [style.background-color]="getPathColor(path)" class="path-color"></span>
          UAV ID: {{ path.uavId }}
        </div>
        <div>
          Distance: {{ path.distance }} m
        </div>
      </div>
    </div>
  </div>
</div>
