<app-uav-model-dropdown
  (selectedUavModelEvent)="1"
  [pageSize]="10">
</app-uav-model-dropdown>

<div *ngIf="pathResponse">
  <h2>Schedule</h2>
  <ng-container *ngFor="let path of pathResponse.uavPaths; let uavIndex = index">
    <h3>UAV ID: {{ path.uavId }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coordinate of path.path; let rowIndex = index">
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ coordinate.latitude }}</td>
          <td>{{ coordinate.longitude }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
